<!-- End Action buttons 
{% extends "base.html" %} {% load static %} {% block title %}User: {{ object.username }}{% endblock %} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">

            <h2>{{ object.username }}</h2>
            {% if object.name %}
            <p>{{ object.name }}</p>
            {% endif %}
        </div>
    </div>
    {{ object.user }} {% if object.user == request.user %}
    <div class="row">

        <div class="col-sm-4 d-flex justify-content-center">
            {{ user.profile }}
            <img src="{{ object.profile.picture.url }}" alt="@{{ object.username}}" class="rounded-circle" width="150px" />
        </div>
        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'users:ProfileUpdate' %}" role="button">My Info</a>
            <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
        </div>

    </div>
   
    {% endif %}


</div>
{% endblock content %}

-->